/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
body {
	padding: 0;
	margin: 0;
}
img{
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	height: auto;
}
h1,h2,h3,h4,h5,h6,p {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	line-height: 1;
}

.cl {
	clear: both;
}
a {  
  color: inherit;
}
a:hover {
      opacity:0.9;
      filter: alpha(opacity=70);
}
.container_box {
    font-family: 'Noto Sans JP', sans-serif;
}
//header
header {
    font-family: 'Noto Sans JP', sans-serif;
     background-color: #222831;
     color: aliceblue;
     font-weight: 500;
     padding: 16px 4.61%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     letter-spacing: 0.2em;

     a {
        text-decoration: none;
        color: aliceblue;
     }
     .user_icon {
         width: 48px;
     }
     .header_left {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
        li {
            font-size: 14px;
            a {
                color: #C0C0C0;
                padding: 8px;
            }
            a:hover {
                color: #ffffff;
            }
        }
        #logo{
            font-size: 32px;
            margin-right: 64px;
        }
     }
     .header_right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .dropdown {
            margin-left: 16px;
        }
        #button_ul{
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            font-size: 14px;
            li {
                margin-right: 16px;
                a{
                    background-color: #29bb89;
                    padding: 8px 24px;
                    border-radius: 8px;

                }
                a:hover{
                    color: #ffffff;
                }
            }
            li:nth-of-type(1){
                a {
                    background-color: #f14668;
                }
                
            }
        }
     }
 }
//フッター
footer {
    text-align: center;
    p{
        background-color: black;
        font-size: 8px;
        color: #ffffff;
        padding: 8px;
        margin: 0;
    }
}
 .icon_image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
  }
  //いいねボタン
.like_button {
    background-color: #ffffff;
    border: none;
}
.like_button:focus {
    outline: 0;
}
.unlike_button {
    background-color: #ffffff;
    border: none;
}
.unlike_button:focus {
    outline: 0;
}
.like-btn-unlike {
    color: #ff2581;
}
.like-btn {
    color: #8f8f8f;
}


//ログインページ
.sign_content {
    padding: 4.61% 16%;
    background-color: #ffe8e8;
    .sign_container {
        background-color: #ffffff;
        padding: 8.46% 8.46%;
        border-radius: 16px;
        box-shadow:15px 15px 0px rgba(0,0,0,.1);
        h2 {
            text-align: center;
            margin-bottom: 6.15%;
        }
        .sign_ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                display: block;
                width: 100%;
                margin-bottom: 16px;
                input {
                    background:#f5f5f5;
                    border: #dfdfdf 1px solid;
                    border-radius: 8px;
                    width: 100%;
                    padding: 16px;

                }
                input:focus {
                    outline: none;
                }
            }
        }
        .sign_submit {
            background-color: #fb9300;
            border: none;
            color: #ffffff;
            width: 100%;
            display: block;
            border-radius: 8px;
            padding: 16px;
            text-shadow:1px 1px 0px rgba(0,0,0,.1);
            box-shadow:0px 5px 0px #b56a01;
            font-weight: 400;
        }
        .sign_submit:focus {
            outline: none;
        }
        .login_submit {
            background-color: #f14668;
            border: none;
            color: #ffffff;
            width: 100%;
            display: block;
            border-radius: 8px;
            padding: 16px;
            text-shadow:1px 1px 0px rgba(0,0,0,.1);
            box-shadow:0px 5px 0px #c1524e;
            font-weight: 400;
        }
        .login_submit:focus {
            outline: none;
        }
        .login_guest {
            margin-top: 16px;
            background-color: #29bb89;
            border: none;
            color: #ffffff;
            width: 100%;
            display: block;
            border-radius: 8px;
            padding: 16px;
            text-shadow:1px 1px 0px rgba(0,0,0,.1);
            box-shadow:0px 5px 0px #2ba37b; 
            text-align: center;
            text-decoration: none;
            font-weight: 400;
        }
        .remember_box {
            margin-bottom: 16px;
            .check_box_text {
                font-size: 14px;
            }
        }
    }
}