#countdown_h2 {
  text-align: center;
  margin-bottom: 44px;
  font-size: 32px;
  font-weight: 600;
}

#countdown_h2_p {
  font-size: 16px;
  line-height: 1.8em;
  font-weight: 500;
  text-align: left;
}

#countdown_h2_p2 {
  font-size: 14px;
  line-height: 1.8em;
  font-weight: 500;
  text-align: left;
  margin-bottom: 32px;
  margin-top: 8px;
}

.countdown_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}

.countdown_box input {
  width: 320px;
  padding: 8px;
}

#countdown_selectbox {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#countdown_selectbox select {
  padding: 8px;
}

.study_submit {
  margin-top: 64px;
}

.weekly_icon {
  color: #f14668;
  margin-right: 16px;
}
