// Place all the styles related to the methodposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//勉強方法一覧ページ
.methodpost_content {
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    padding: 4.61%;
    background-color: #F3F6F9; 
    .methodpost_container {
      width: 100%;
      .methodpost_bar {
        color: #ffffff;
        border-radius: 8px; 
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .methodbar_left {
          a{
            background-color: #1BC5BD;
            border: none;
            color: #ffffff;
            padding: 16px 24px;
            font-size: 14px;
            border-radius: 16px;
            text-decoration: none;
          }
        }
        #search{
          border: 1px solid #dcdcdc;
          padding: 8px 24px;
          border-radius: 8px;
          font-size: 15px;
          font-weight: 500;
        }
        #search:focus {
          outline: none;
        }
        .search_btn {
            margin-left: 8px;
            background-color: #F64E60;
            border: none;
            color: #ffffff;
            padding: 8px 24px;
            font-size: 14px;
            border-radius: 8px;
            font-weight: 500;
        }

      }
      .methodpost_box {
        width: 100%;
        margin-left: auto;
        background-color: #ffffff;
        padding: 4.61% 8.46%;
        border-radius: 16px;
        border: 1px solid #dcdcdc;
        #methodpost_h2{
          text-align: center;
          font-size: 24px;
          font-weight: 600;
          padding-bottom: 24px;
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          h3 {
            font-size: 24px;
            line-height: 1.5em;
            font-weight: 500; 
            text-align: center;
            margin-top: 24px;
          }
          li {
            padding: 16px 0 8px 0;
            border-bottom: 1px solid #dcdcdc;
            .edit_box {
              display: flex;
              margin-bottom: 16px;
              #tab_span {
                  font-size: 12px;
                  line-height: 1.7em;
                  color: #ffffff;
                  padding: 4px 12px;
                  text-align: center;
                  background-color: #6610f2;
                  border-radius: 8px;
                  font-weight: 500;
                }
              
            }
            .edit_inner {
              position: relative;
              margin-left: auto;
              display: block;
              text-align: right;
              
              .click_button {
                text-decoration: none;
                // background-color: #eee5ff;
                padding: 8px 8px;
                border-radius: 8px;
                cursor: pointer;
                span{
                  font-size: 4px;
                  line-height: 0em;
                  color: #996af7;
                }
                span:nth-of-type(1){
                  margin-right: 4px;
                  color: #6610f2;
                }
              }
              .click_button:hover{
                background-color: #eee5ff;
              }
            }
            .edit_list { 
              position: absolute;
              top: 32px;
              display: none;
              background-color: #ffffff;
              border: 1px solid #dcdcdc;
              border-radius: 8px;
              box-shadow:2px 2px 0px rgba(0,0,0,.1);
              font-size: 14px;
              width: 140px;
              box-sizing: border-box;
              p{
                margin: 0;
                text-align: center;
                box-sizing: border-box;
                padding-top:16px ;
                a{
                  text-decoration: none;
                  padding:0  32px;
                  color: #333;
                  
                }
              }
              input{
                border: none;
                background-color: #ffffff;
                margin: 0 auto;
                text-align: center;
                display: block;
                padding:0  32px;
              }
            }
            h2 {
              font-size: 24px;
              line-height: 1.5em;
              font-weight: 600;
              padding-right: 32px;
              a {
                text-decoration: none;
                color: #333;
              }
            }
            .methodpost_reviewcontent {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              .tag_box {
                // margin-right: auto;
                span {
                  font-size: 14px;
                  color: #ffffff;
                  padding: 4px 12px;
                  text-align: center;
                  background-color: #845ec2;
                  border-radius: 8px;
                }
              }
              .methodpost_likebox {
                margin-left: 24px;
              }
            }
            .methodpost_uer_box {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              margin-top: 16px;
              .methodpost_user {
                width: 24px;
                height: 24px;
                border-radius: 100px;
                object-fit: cover;
              }
              p {
                margin-left: 16px;;
              }
              .created{
                font-size: 12px;
                color: #8f8f8f;
              }
              a {
                text-decoration: none;
                color: #333;
              }
            }
          }
        }
      }
  }
}

//詳細ページ
.methodpost_detail_content {
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    padding: 4.61%;
    background-color: #faf1e6; 
    .methodpost_detail_box {
        background-color: #ffffff;
        padding: 6.15% 8.46%;
        border-radius: 16px;
        // box-shadow:15px 15px 0px rgba(0,0,0,.1);
        // border: 1px solid #dcdcdc;
        display: flex;
    }
    .methodpost_detail_container_left {
      width: 100%;
      padding-right: 64px;
        h2 {
          font-size: 32px;
          font-weight: 600;
          line-height: 1.5em;
        }
        .detail_text {
          font-size: 16px;
          line-height: 1.7em;
          margin-top: 32px;
          font-weight: 500;
          letter-spacing: 0.1em;
        }
        h3 {
          font-size: 24px;
          font-weight: 600;
          line-height: 1.5em;
          margin-top: 64px;
        }
    }
    .methodpost_detail_container_right  {
      width: 400px;
      // background-color: #F3F6F9;
      // border-radius: 16px;
      border-left: rgb(126, 124, 124) solid 1px;
      padding: 64px 32px;
      // #E4E6EF
      .detail_user_box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .methodpost_user {
          width: 40px;
          height: 40px;
          border-radius: 100px;
          object-fit: cover; 
        }
        .user_name {
          margin:0  16px 0 8px;
          a {
            text-decoration: none;
            color: #333; 
          }
        }
        .created{
          font-size: 12px;
          color: #8f8f8f;
        }
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        color: #3F4254;
        li{
          span {
            
          }
          .fa-clock {
            color: #FFA800;
          }

        }
      }
    }
}

//レビューページ

.star-rating {
  position: relative;
  width: 5em;
  height: 1.3em;
  font-size: 25px;
  overflow: hidden;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}
.average-score-display {
  font-size: 16px;
  p {
    margin-left: 12px;
    padding-top: 12px;
  }
}
.rating-box {
  margin-top: 32px;
  .ratings .fa {
    font-size: 30px;
    color:#ffcc00;
    cursor: pointer;
  }
  .textarea {
    width: 100%;
    margin: 16px 0;
    height: 100px;
  }
  .button {
    background-color: #fb9300;
    border: none;
    color: #ffffff;
    width: 160px;
    display: block;
    border-radius: 8px;
    padding: 8px;
    text-shadow:1px 1px 0px rgba(0,0,0,.1);
    box-shadow:0px 3px 0px #b56a01;
    font-weight: 400;
    margin-left: auto;
    font-size: 16px;
  }
  .button:focus {
    outline: none;
  }
} 

.main-rating {
  display: flex;
}

.rating-value-display {
  font-size: 14px;
  margin-left: 16px;
}

.review_box {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    padding: 16px 8px;
    border-bottom: #0a1931 1px solid;
    .review_head {
      display: flex;
      .review_user_p {
        padding-top: 8px;
        margin-right: 16px;
      }
      .review_user {
        width: 24px;
        height: 24px;
        border-radius: 100px;
        object-fit: cover; 
      }
    }
  }
}