// Place all the styles related to the methodposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//勉強方法一覧ページ
.methodpost_content {
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    padding: 4.61%;
    background-color: #F3F6F9; 
    .methodpost_container {
      padding: 4.61% 0;
      display: flex;
      width: 100%;
      .methodpost_bar {
        // background-color: #0a1931;
        // background-color: #222831;
        background:lighten(#0a1931, 1%);
        color: #ffffff;
        width: 160px;
        border-radius: 8px; 
        margin-right:  48px;
        padding: 48px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .fas {
          display: block;
        }

      }
      .methodpost_box {
        width: 100%;
        margin-left: auto;
        background-color: #ffffff;
        padding: 8.46% 8.46%;
        border-radius: 16px;
        border: 1px solid #dcdcdc;
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          li {
            padding: 16px 0 8px 0;
            border-bottom: 1px solid #0a1931;
            h2 {
              font-size: 24px;
              line-height: 1.5em;
              a {
                text-decoration: none;
                color: #333;
              }
            }
            .methodpost_reviewcontent {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              .tag_box {
                margin-right: auto;
                span {
                  font-size: 14px;
                  color: #ffffff;
                  padding: 4px 12px;
                  text-align: center;
                  background-color: #845ec2;
                  border-radius: 8px;
                }
              }
              .methodpost_likebox {
                margin-left: 24px;
              }
            }
            .methodpost_uer_box {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              margin-top: 16px;
              .methodpost_user {
                width: 24px;
                height: 24px;
                border-radius: 100px;
                object-fit: cover;
              }
              p {
                margin-left: 16px;;
              }
              .created{
                font-size: 12px;
                color: #8f8f8f;
              }
              a {
                text-decoration: none;
                color: #000000;
              }
            }
          }
        }
      }
  }
}

//レビューページ

.star-rating {
  position: relative;
  width: 5em;
  height: 1.3em;
  font-size: 25px;
  overflow: hidden;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}
.average-score-display {
  font-size: 16px;
  p {
    margin-left: 12px;
    padding-top: 12px;
  }
}
.rating-box .ratings .fa{
  font-size: 30px;
  color:#ffcc00;
  cursor: pointer;
}

.main-rating {
  display: flex;
}

.rating-value-display {
  font-size: 20px;
}