#studytime_studytime {
  padding: 8px;
}

#studytime_box {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.studytime_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}

.studytime_content h4 {
  letter-spacing: 2px;
}

.countdown_icon {
  color: #ffc93c;
  margin-right: 16px;
}
