.timepost_content {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 4.61% 16%;
  background-color: #bce6eb;
}

.timepost_content .timepost_container {
  background-color: #ffffff;
  padding: 8.46% 8.46%;
  border-radius: 16px;
  box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #dcdcdc;
}

.timepost_content .timepost_form_each {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 32px 0;
}

.timepost_content .timepost_form_each i {
  margin-right: 16px;
}

.timepost_content .timepost_form_each span {
  font-size: 22px;
  font-weight: 600;
  margin-right: 30%;
}

.timepost_content .timepost_form_each #timepost_subjects {
  margin-left: auto;
  padding: 8px;
}

.timepost_content .timepost_form_each .datetime_box {
  margin-left: auto;
}

.timepost_content .timepost_form_each .datetime_box select {
  padding: 8px;
}

.timepost_content .timepost_form_each .studytime_box {
  margin-left: auto;
}

.timepost_content .timepost_form_each .studytime_box select {
  padding: 8px;
  margin-right: 8px;
  margin-left: 4px;
}

.timepost_content .timepost_form_each .timepost_textarea {
  display: block;
  width: 100%;
  margin-top: 24px;
  min-height: 200px;
  padding: 16px;
  font-size: 20px;
}

.timepost_content .timepost_form_each select {
  font-size: 18px;
}

.timepost_content .timepost_form_each .book_list {
  background-color: #8f8f8f;
  display: block;
  width: 100%;
  list-style-type: none;
  margin-top: 24px;
  padding: 0;
  margin: 16px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.timepost_content .timepost_form_each .book_list li {
  margin-bottom: 16px;
  width: 10%;
  margin: 0 2%;
}

.timepost_content .timepost_form_each .book_list li img {
  width: 100%;
}

.timepost_content .study_submit {
  display: block;
  margin-left: auto;
  background-color: #29bb89;
  color: #ffffff;
  border: none;
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
}

.timepost_content .study_submit:focus {
  outline: 0;
}

.timeline_content {
  padding: 4.61%;
  background-color: #fff5eb;
}

.timeline_h1 {
  display: block;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 32px;
  border-bottom: 1px solid #000000;
}

.timeline_container {
  background-color: #ffffff;
  padding: 4.61% 8.46%;
  border-radius: 16px;
  border: 1px solid #dcdcdc;
}

.timeline_container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
}

.timeline_container li {
  padding: 32px 4.61%;
  border-bottom: 1px solid #f5f5f5;
}

.timeline_container li .timepost_creat_time {
  text-align: right;
  padding-right: 16px;
  margin-bottom: 4px;
  display: block;
}

.timeline_container li .timeline_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.timeline_container li .timeline_box .timeline_left {
  width: 140px;
  margin-right: 16px;
  display: flex;
  align-items: baseline;
}

.timeline_container li .timeline_box .timeline_left .timeline_user {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
}

.timeline_container li .timeline_box .timeline_left p {
  margin-left: 16px;
  text-align: center;
  font-size: 18px;
}

.timeline_container li .timeline_box .right_container {
  margin-top: 48px;
  width: 100%;
}

.timeline_container li .timeline_box .right_container .right_content {
  display: block;
  width: 100%;
  border-radius: 16px;
  padding: 16px;
  background-color: #ecf8fa;
  margin-bottom: 24px;
}

.timeline_container li .timeline_box .right_container .timeline_right {
  display: block;
  width: 100%;
  border: #dcdcdc solid 1px;
  border-radius: 16px;
  padding: 2.61% 4.61%;
  display: flex;
  align-items: center;
}

.timeline_container li .timeline_box .right_container .timeline_right .timeline_img {
  border: #8f8f8f solid 2px;
  padding: 10px;
  margin-right: 46px;
  width: 100px;
  height: 100px;
}

.timeline_container li .timeline_box .right_container .timeline_right p:nth-child(n+1) {
  letter-spacing: 0.05em;
}

.timeline_container li .timeline_box .right_container .timeline_right p:nth-child(n+1) .fa-history {
  color: #ffc93c;
  margin-left: 24px;
}

.timeline_container li .timeline_box .right_container .timeline_right p:nth-child(n+1) .fa-book-open {
  color: #ffc2b4;
  margin-right: 8px;
}

.timeline_container li .timeline_box .right_container .timeline_right p:nth-child(n+1) small {
  color: #8f8f8f;
}

.timeline_container li .timeline_box .right_container .timeline_right p:nth-child(n+1) span {
  font-weight: 600;
  font-size: 24px;
}

.timeline_container li .timeline_box .right_container .timeline_right p:nth-child(n+1) strong {
  font-weight: 600;
  font-size: 30px;
}

.timeline_container li .timeline_box .timeline_like_comment {
  margin-top: 16px;
  margin-right: 16px;
  display: block;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
