.user_content {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 4.61%;
  background-color: #fbf5e7;
  color: #333;
}

.user_content .user_container {
  display: flex;
  justify-content: space-between;
}

.user_content .user_container .user_detail_left {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.user_content .user_container .user_detail_left .user_detail_left_top {
  background-color: #ffffff;
  padding: 32px 24px;
  border-radius: 8px;
}

.user_content .user_container .user_detail_left .user_detail_left_top .user_image {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.user_content .user_container .user_detail_left .user_detail_left_top .user_commentbox {
  margin-top: 24px;
  background-color: #ecf8fa;
  border-radius: 8px;
  padding: 16px;
}

.user_content .user_container .user_detail_left .user_detail_left_top .user_follow_box {
  margin-top: 16px;
  text-align: center;
  font-size: 18px;
}

.user_content .user_container .user_detail_left .user_detail_left_top p {
  font-size: 16px;
}

.user_content .user_container .user_detail_left .user_detail_left_top .user_info {
  padding: 0 10%;
}

.user_content .user_container .user_detail_left .user_detail_left_top .user_info p {
  line-height: 2em;
  display: flex;
  justify-content: space-between;
}

.user_content .user_container .user_detail_left .user_detail_left_top .user_info span {
  text-align: right;
}

.user_content .user_container .user_detail_left .user_detail_left_under {
  background-color: #ffffff;
  margin-top: 32px;
  padding: 32px 24px;
  border-radius: 8px;
  min-height: 100px;
}

.user_content .user_container .user_detail_left .another_option_box {
  background-color: #ffffff;
  margin-top: 32px;
  padding: 32px 24px;
  border-radius: 8px;
  min-height: 100px;
}

.user_content .user_container .user_detail_left .another_option_box h3 {
  text-align: center;
  border-bottom: 1px solid #E4E6EF;
  font-size: 17px;
  padding-bottom: 16px;
  font-weight: 600;
}

.user_content .user_container .user_detail_left .another_option_box h4 {
  margin-top: 32px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.user_content .user_container .user_detail_left .another_option_box p {
  line-height: 1.8em;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
}

.user_content .user_container .user_detail_left .another_option_box i {
  margin-right: 8px;
}

.user_content .user_container .user_detail_left .another_option_box .countdown_icon {
  color: #ffc93c;
}

.user_content .user_container .user_detail_left .another_option_box .weekly_icon {
  color: #f14668;
}

.user_content .user_container .user_detail_left .another_option_box a {
  text-align: center;
  display: block;
  border: none;
  border-radius: 8px;
  background-color: #0BB783;
  color: #ffffff;
  padding: 8px;
  text-decoration: none;
  font-size: 15px;
}

.user_content .user_container .user_detail_right {
  width: 68%;
}

.user_content .user_container .user_detail_right .report_content {
  background-color: #ffffff;
  padding: 4.61%;
  border-radius: 8px;
}

.user_content .user_container .user_detail_right .report_content p {
  margin-bottom: 24px;
}

.user_content .user_container .user_detail_right .report_content table {
  width: 100%;
  text-align: center;
  border: 1px solid #222831;
  border-radius: 8px;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #222831;
  margin-bottom: 44px;
}

.user_content .user_container .user_detail_right .report_content table th {
  background-color: #222831;
  color: #ffffff;
  padding: 8px 0px;
  font-size: 14px;
}

.user_content .user_container .user_detail_right .report_content table th:nth-child(1) {
  border-radius: 8px 0px 0px 0px;
  border-right: 1px solid #ffffff;
}

.user_content .user_container .user_detail_right .report_content table th:nth-child(3) {
  border-radius: 0px 8px 0px 0px;
  border-left: 1px solid #ffffff;
}

.user_content .user_container .user_detail_right .report_content table td {
  background-color: #ffffff;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 600;
  width: 33.33%;
}

.user_content .user_container .user_detail_right .report_content table td:nth-child(1) {
  border-radius: 0px 0px 0px 8px;
  border-right: 1px solid #222831;
}

.user_content .user_container .user_detail_right .report_content table td:nth-child(3) {
  border-radius: 0px 0px 8px 0px;
  border-left: 1px solid #222831;
}

.user_content .user_container .user_detail_right .report_content .studyweekly_table {
  width: 100%;
  text-align: center;
  border: 1px solid #222831;
  border-radius: 8px;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #222831;
  margin-bottom: 44px;
}

.user_content .user_container .user_detail_right .report_content .studyweekly_table th:nth-child(1) {
  border-radius: 8px 8px 0px 0px;
  border-right: none;
  padding: 12px;
  letter-spacing: 3px;
  font-size: 17px;
}

.user_content .user_container .user_detail_right .report_content .studyweekly_table td:nth-child(1) {
  border-radius: 0px 0px 8px 8px;
  border-right: none;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 16px;
}

.user_content .user_container .user_detail_right .report_content .studyweekly_table .studybox {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
}

.user_content .user_container .user_detail_right .report_content .studyweekly_table .minus_time {
  font-size: 24px;
  font-weight: 600;
  margin-left: 12px;
  margin-right: 4px;
}

.user_content .user_container .user_detail_right .report_content .studyweekly_table .study_mokuhyou {
  font-size: 24px;
  font-weight: 600;
  margin-left: 12px;
  margin-right: 4px;
}

.user_content .user_container .user_detail_right #weeklybtn_span {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.user_content .user_container .user_detail_right #weeklybtn_span a {
  background-color: #3699FF;
  text-decoration: none;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 24px;
  box-sizing: border-box;
  letter-spacing: 2px;
  font-size: 15px;
}

.user_content .user_container .user_detail_right .timeline_container {
  border: none;
  padding: 4.61%;
  border-radius: 8px;
}

.user_content .user_container .user_detail_right .timeline_container h2 {
  font-size: 24px;
}

.user_content .user_container .user_detail_right .timeline_container h3 {
  text-align: center;
  font-size: 18px;
  margin-top: 24px;
}

.user_content .user_container .user_detail_right .timeline_container li {
  padding: 40px 12px;
}

.user_content .user_container .user_detail_right .timeline_container li .timeline_user {
  width: 40px;
  height: 40px;
}

.user_content .user_container .user_detail_right .timeline_container li p {
  margin-left: 4px;
}

.user_content .user_container .user_detail_right .timeline_container li .right_container {
  margin-top: 0px;
}

.user_content .user_container .user_detail_right .like {
  margin-top: 32px;
}

.user_content .user_container .user_detail_right .methodpost_content {
  padding: 0;
  background-color: none;
}

.user_content .user_container .user_detail_right .methodpost_content .methodpost_box {
  border: none;
}

.user_content .user_container .user_detail_right .methodpost_content .methodpost_box #methodpost_h2 {
  font-size: 24px;
}

.user_content .user_container .user_detail_right .methodpost_content .methodpost_box h3 {
  text-align: center;
  font-size: 18px;
  margin-top: 24px;
}

.user_content .user_container .user_detail_right .good {
  margin-top: 32px;
}

.tab-area {
  display: flex;
  cursor: pointer;
  width: 50%;
  margin-left: auto;
  margin-bottom: 32px;
}

.tab-area p {
  padding: 0;
  margin: 0;
}

.tab-area .tab {
  text-align: center;
  padding: 12px 24px;
}

.tab-area .tab.active {
  color: #222e3e;
  border: none;
  background-color: #222831;
  border-radius: 8px 8px;
  color: #ffffff;
}

.follow_tab-area {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  color: #333;
  border-bottom: 1px solid #E4E6EF;
  padding-bottom: 16px;
}

.follow_tab-area .follow_tab {
  width: 100%;
  text-align: center;
  color: #7E8299;
}

.follow_tab-area .follow_tab.follow_active {
  border: none;
  color: #181C32;
  font-weight: 600;
}

.content-area .content {
  display: none;
}

.content-area .content.show {
  display: block;
}

.follow_content-area {
  font-size: 16px;
  text-align: center;
}

.follow_content-area .follow_content {
  display: none;
}

.follow_content-area .follow_content .follow_ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding: 16px 10%;
}

.follow_content-area .follow_content .follow_ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}

.follow_content-area .follow_content .follow_ul li .follow_user {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  object-fit: cover;
  margin-right: 8px;
}

.follow_content-area .follow_content .follow_ul li a {
  text-decoration: none;
  color: #181C32;
}

.follow_content-area .follow_content .follow_ul li .follow_btn {
  display: block;
  margin-left: auto;
  background-color: #2978b5;
  color: #ffffff;
  border: none;
  padding: 4px 16px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 500;
}

.follow_content-area .follow_content .follow_ul li .follow_btn:focus {
  outline: none;
}

.follow_content-area .follow_content .follow_ul li .unfollow {
  background-color: #ffffff;
  color: #2978b5;
  border: 1px solid #2978b5;
}

.follow_content-area .follow_content.follow_show {
  display: block;
}

.edit_content {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 4.61% 10%;
  background-color: #fbf5e7;
  color: #333;
}

.edit_content .edit_container {
  background-color: #ffffff;
  padding: 4.61% 8.46%;
  border-radius: 16px;
  box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #dcdcdc;
}

.edit_content .edit_container h2 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 600;
}

.edit_content .edit_container .edit_img_box {
  margin-top: 64px;
}

.edit_content .edit_container .edit_img_box .icon_image {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 24px;
}

.edit_content .edit_container .edit_img_box button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 32px;
  background-color: #ffffff;
  border: 1px solid #7E8299;
  font-size: 14px;
  text-align: center;
}

.edit_content .edit_container .edit_img_box button:focus {
  outline: none;
  background-color: none;
}

.edit_content .edit_container .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding: 0 14%;
}

.edit_content .edit_container .field label {
  font-size: 18px;
}

.edit_content .edit_container .field input {
  padding: 8px;
  width: 300px;
}

.edit_content .edit_container .field .edit_comment {
  width: 300px;
  min-height: 50px;
}

.edit_content .edit_container .field select {
  width: 100px;
  padding: 8px 16px;
}

.edit_content .edit_container .field #user_target_school {
  width: 252px;
  margin-left: auto;
  margin-right: 16px;
}

.edit_content .edit_container .actions {
  margin-top: 32px;
  padding: 0 14%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.edit_content .edit_container .actions p {
  text-align: right;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.edit_content .edit_container .actions p input {
  margin-top: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: #0BB783;
}

.edit_content .edit_container .actions input {
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: #f14668;
}

@media screen and (max-width: 640px) {
  .user_content {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 10% 4.61%;
    background-color: #fbf5e7;
    color: #333;
  }
  .user_content .user_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .user_content .user_container .user_detail_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .user_content .user_container .user_detail_left .user_detail_left_top {
    background-color: #ffffff;
    padding: 32px 24px;
    border-radius: 8px;
  }
  .user_content .user_container .user_detail_left .user_detail_left_top .user_image {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
  }
  .user_content .user_container .user_detail_left .user_detail_left_top .user_commentbox {
    margin-top: 24px;
    background-color: #ecf8fa;
    border-radius: 8px;
    padding: 16px;
  }
  .user_content .user_container .user_detail_left .user_detail_left_top .user_follow_box {
    margin-top: 16px;
    text-align: center;
    font-size: 18px;
  }
  .user_content .user_container .user_detail_left .user_detail_left_top p {
    font-size: 16px;
  }
  .user_content .user_container .user_detail_left .user_detail_left_top .user_info {
    padding: 0 10%;
  }
  .user_content .user_container .user_detail_left .user_detail_left_top .user_info p {
    line-height: 2em;
    display: flex;
    justify-content: space-between;
  }
  .user_content .user_container .user_detail_left .user_detail_left_top .user_info span {
    text-align: right;
  }
  .user_content .user_container .user_detail_left .user_detail_left_under {
    background-color: #ffffff;
    margin-top: 32px;
    padding: 32px 24px;
    border-radius: 8px;
    min-height: 100px;
  }
  .user_content .user_container .user_detail_right {
    width: 100%;
  }
  .user_content .user_container .user_detail_right .report_content {
    background-color: #ffffff;
    padding: 10% 4.61%;
    border-radius: 8px;
  }
  .user_content .user_container .user_detail_right .report_content p {
    margin-bottom: 24px;
  }
  .user_content .user_container .user_detail_right .report_content table {
    width: 100%;
    text-align: center;
    border: 1px solid #222831;
    border-radius: 8px;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #222831;
    margin-bottom: 44px;
  }
  .user_content .user_container .user_detail_right .report_content table th {
    background-color: #222831;
    color: #ffffff;
    padding: 8px 0px;
    font-size: 14px;
  }
  .user_content .user_container .user_detail_right .report_content table th:nth-child(1) {
    border-radius: 8px 0px 0px 0px;
    border-right: 1px solid #ffffff;
  }
  .user_content .user_container .user_detail_right .report_content table th:nth-child(3) {
    border-radius: 0px 8px 0px 0px;
    border-left: 1px solid #ffffff;
  }
  .user_content .user_container .user_detail_right .report_content table td {
    background-color: #ffffff;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 600;
    width: 33.33%;
  }
  .user_content .user_container .user_detail_right .report_content table td:nth-child(1) {
    border-radius: 0px 0px 0px 8px;
    border-right: 1px solid #222831;
  }
  .user_content .user_container .user_detail_right .report_content table td:nth-child(3) {
    border-radius: 0px 0px 8px 0px;
    border-left: 1px solid #222831;
  }
  .user_content .user_container .user_detail_right .timeline_container {
    border: none;
    padding: 4.61%;
    border-radius: 8px;
  }
  .user_content .user_container .user_detail_right .timeline_container h2 {
    font-size: 24px;
  }
  .user_content .user_container .user_detail_right .timeline_container h3 {
    text-align: center;
    font-size: 18px;
    margin-top: 24px;
  }
  .user_content .user_container .user_detail_right .timeline_container li {
    padding: 40px 12px;
  }
  .user_content .user_container .user_detail_right .timeline_container li .timeline_user {
    width: 40px;
    height: 40px;
  }
  .user_content .user_container .user_detail_right .timeline_container li p {
    margin-left: 4px;
  }
  .user_content .user_container .user_detail_right .timeline_container li .right_container {
    margin-top: 0px;
  }
  .user_content .user_container .user_detail_right .like {
    margin-top: 32px;
  }
  .user_content .user_container .user_detail_right .methodpost_content {
    padding: 0;
    background-color: none;
  }
  .user_content .user_container .user_detail_right .methodpost_content .methodpost_box {
    border: none;
  }
  .user_content .user_container .user_detail_right .methodpost_content .methodpost_box #methodpost_h2 {
    font-size: 24px;
  }
  .user_content .user_container .user_detail_right .methodpost_content .methodpost_box h3 {
    text-align: center;
    font-size: 18px;
    margin-top: 24px;
  }
  .user_content .user_container .user_detail_right .good {
    margin-top: 32px;
  }
  .tab-area {
    display: flex;
    cursor: pointer;
    width: 100%;
    margin-left: 0px;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .tab-area p {
    padding: 0;
    margin: 0;
    line-height: 1.2em;
  }
  .tab-area .tab {
    text-align: center;
    padding: 4px 16px;
  }
  .tab-area .tab.active {
    color: #222e3e;
    border: none;
    background-color: #222831;
    border-radius: 8px 8px;
    color: #ffffff;
  }
  .follow_tab-area {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    color: #333;
    border-bottom: 1px solid #E4E6EF;
    padding-bottom: 16px;
  }
  .follow_tab-area .follow_tab {
    width: 100%;
    text-align: center;
    color: #7E8299;
  }
  .follow_tab-area .follow_tab.follow_active {
    border: none;
    color: #181C32;
    font-weight: 600;
  }
  .content-area .content {
    display: none;
  }
  .content-area .content.show {
    display: block;
  }
  .follow_content-area {
    font-size: 16px;
    text-align: center;
  }
  .follow_content-area .follow_content {
    display: none;
  }
  .follow_content-area .follow_content .follow_ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding: 16px 10%;
  }
  .follow_content-area .follow_content .follow_ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
  }
  .follow_content-area .follow_content .follow_ul li .follow_user {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    object-fit: cover;
    margin-right: 8px;
  }
  .follow_content-area .follow_content .follow_ul li a {
    text-decoration: none;
    color: #181C32;
  }
  .follow_content-area .follow_content .follow_ul li .follow_btn {
    display: block;
    margin-left: auto;
    background-color: #2978b5;
    color: #ffffff;
    border: none;
    padding: 4px 16px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 500;
  }
  .follow_content-area .follow_content .follow_ul li .follow_btn:focus {
    outline: none;
  }
  .follow_content-area .follow_content .follow_ul li .unfollow {
    background-color: #ffffff;
    color: #2978b5;
    border: 1px solid #2978b5;
  }
  .follow_content-area .follow_content.follow_show {
    display: block;
  }
  .edit_content {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 4.61% 10%;
    background-color: #fbf5e7;
    color: #333;
  }
  .edit_content .edit_container {
    background-color: #ffffff;
    padding: 4.61% 8.46%;
    border-radius: 16px;
    box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #dcdcdc;
  }
  .edit_content .edit_container h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 600;
  }
  .edit_content .edit_container .edit_img_box {
    margin-top: 64px;
  }
  .edit_content .edit_container .edit_img_box .icon_image {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .edit_content .edit_container .edit_img_box button {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 32px;
    background-color: #ffffff;
    border: 1px solid #7E8299;
    font-size: 14px;
    text-align: center;
  }
  .edit_content .edit_container .edit_img_box button:focus {
    outline: none;
    background-color: none;
  }
  .edit_content .edit_container .field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    padding: 0 14%;
  }
  .edit_content .edit_container .field label {
    font-size: 18px;
  }
  .edit_content .edit_container .field input {
    padding: 8px;
    width: 300px;
  }
  .edit_content .edit_container .field .edit_comment {
    width: 300px;
    min-height: 50px;
  }
  .edit_content .edit_container .field select {
    width: 100px;
    padding: 8px 16px;
  }
  .edit_content .edit_container .field #user_target_school {
    width: 252px;
    margin-left: auto;
    margin-right: 16px;
  }
  .edit_content .edit_container .actions {
    margin-top: 32px;
    padding: 0 14%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .edit_content .edit_container .actions p {
    text-align: right;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .edit_content .edit_container .actions p input {
    margin-top: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    background-color: #0BB783;
  }
  .edit_content .edit_container .actions input {
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    background-color: #f14668;
  }
}
